* {
    margin: 0;
    padding: 0;
}
body
{
    background-color: rgb(16, 1, 1);
    text-align: center;
    font-size: x-large;
    color: aliceblue;
}

h3
{
    text-align: center;
    color: aqua;
}
/* #home */
/* #skill */
/* #contact */
/* #about */
/* { */
    /* text-align: center; */
    /* border: 50px solid black; */
    /* padding: 5px 10px 15px 20px; */
/*  */
/* } */

li {
    list-style: none;
}
ul
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height:50px ;
    padding: 50px;
    border: 2px;
}

ul div{
    display: flex;
    justify-content: space-evenly;
    border-right: 50 px solid black;
    align-items: center;
}
ul a {
    padding: 130px;
    align-items: center;
    justify-content: space-evenly;
}

.navbar
{
    display: flex;
    background-color: aquamarine;
}

.navbar > div
{
    background-color: blueviolet;
    margin: 10 px;
    padding: 20 px;
    font-size: 30px;
}
.flex-container {
    display: flex;
    background-color: solid black;
    justify-content: flex-start;
    flex-wrap: wrap;
    }
                
    .flex-container > div {

    background-color: solid black;
    border: 500 px red;
    justify-content: flex-start;
    border-color: aqua;
    margin: 10px;
    padding: 30px;
    font-size: 30px;
    
    }
    .shr
    {
        padding: 110px;
    }

/* #home */
/* { */
    /* text-align: center; */
    /* padding: 70px; */
/* } */
.Diff
{
    display: flex;
    flex-direction: column;
    padding: 100px;
    /* background-color: rgb(248, 192, 119); */
    justify-content: space-between;
}
.home

{
    padding: 100 px;
}


.p1
{
    padding: 50px;
}
.skilll
{
    display: flex;
    flex-direction: row;
    padding: 50 px;
    

}
/* .skilll > div { */
    /* background-color: #d24977; */
    /* border: 500 px rgb(131, 221, 27); */
    /* justify-content: space-evenly; */
    /* border-color: aqua; */
    /* margin: 10px; */
    /* padding: 100px; */
    /* font-size: 30px; */
/* } */
/* h2.Android */
/* { */
    /* padding: 0%; */
/* } */
.python,
.Android,
.dev
{
  /* outline-style: double; */
  /* border: 5px solid red; */
  padding: 50 px;
  margin: 0px 20px;
background-color: rgb(179, 12, 179);
}

.python h2,
.Android h2,
.dev h2
{
    color: rgb(45, 18, 134);
border: 2px solid white;
padding: 10px;
}

.python p,
.Android p,
.dev p
{
    color: white;
border: 2px solid white;
padding: 50px;
}
input[type=text],select
{
    width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=email],select
{
    width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=number],select
{
    width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
    width: 10%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=reset] {
    width: 10%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .for
  {
    display: flex;
    flex-direction: column;
    padding: 100px;
    
    /* background-color: rgb(189, 65, 65); */
  }
  .for > div {
    background-color: #d24977;
    border: 500 px rgb(131, 221, 27);
    justify-content: space-evenly;
    border-color: aqua;
    margin: 10px;
    padding: 100px;
    font-size: 30px;
    flex-wrap: wrap;
  }
  img
  {
    border-radius: 50%;
    opacity: 1;
    align-self: right;
    background-color: black;
  }
  
  .im
  {
    display: flex;
    flex-direction: row;
    padding: 50 px;
    justify-content: space-between;
  }
  /* .and */
/* { */
    /* padding: 50%; */
/* }   */

.graph
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: start;
    
}

.graph > div
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: hsl(94, 100%, 1%);

}
.sub
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.sub >div
{
    background-color: rgb(209, 20, 203);
padding: 15px;
height: 10%;
border: 1px solid white;
margin-bottom: 10px;
width: 100%;
justify-content: space-evenly
}
.pa
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}
.pa >div
{
    background-color: rgb(209, 20, 203);
padding: 15px;
height: 10%;
border: 1px solid white;
margin-bottom: 10px;
width: 100%;
justify-content: space-evenly
}
.rt
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
} 
.rt >div
{
    background-color: rgb(209, 20, 203);
    padding: 15px;
    height: 10%;
    border: 1px solid white;
    margin-bottom: 10px;
    width: 100%;
    justify-content: space-evenly
}
