/* * { */
    /* margin: 0; */
    /* padding: 0; */
/* } */
body
{
    background-color: rgb(238, 85, 85);
}

#home
#skill
#contact
#about
{
    
    border: 50px solid black;
    padding:90px;

}

li {
    list-style: none;
}
ul
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height:50px ;
    padding: 50px;
    border: 2px;
}

ul div{
    display: flex;
    justify-content: space-evenly;
    border-right: 50 px solid black;
    align-items: center;
}
ul a {
    padding: 130px;
    align-items: center;
}

.navbar
{
    display: flex;
    background-color: aquamarine;
}

.navbar > div
{
    background-color: blueviolet;
    margin: 10 px;
    padding: 20 px;
    font-size: 30px;
}


